
.carousel-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left top;
}

.carousel-item-style {
    overflow: hidden;
    height: 40vw;
}

.caption-style {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 500px;
    color: black;
    margin-bottom: 2em;
}
