
.btn-contact-call {
    font-weight: 900;
}

.btn-contact-email {
    font-weight: 900;
}

.btn-contact-call:hover {
    background: none;
    border: 1px solid #167af6;
    color: #167af6;
}


.btn-contact-email:hover {
    background: none;
    border: 1px solid #4fab4e;
    color: #4fab4e;
}



