.breadcrumb-style ol {
    background: none;
}

.btn-take-excursion {
    font-family: 'Cormorant SC', serif;
    font-weight: 900;
    font-size: 20px;
}

.btn-refuse-excursion {
    font-family: 'Cormorant SC', serif;
    font-weight: 900;
    font-size: 20px;
}

.btn-refuse-excursion:hover {
    background: none;
    color: #ff0000;
}

.btn-take-excursion:hover {
    background: none;
    color: #13850f;
}

.subtitle {
    font-size: 18px;
}

.full-text {
    /*font-size: 18px;*/
    font-family: SansSerif,sans-serif;
    font-weight: 300;
}

.card-info {
    font-family: SansSerif,sans-serif;
    font-weight: 300;
}

.card-header-style {
    font-family: 'Cormorant SC', serif;
    font-weight: 600;
    font-size: 24px;
    background: #f1ff9f;
}


#id {
    width: 100%;
    /*height: 100vh;*/
}




