.btn-my-excursions {
    font-size: 22px;
    font-weight: 900;
    background: none;
    color: #3f393f;
}


.excursions-filter {
    border-radius: 5px;
    height: 100%;
    border: 1px solid #e0e0e0;
}

.search-input {
    width: 100%;
}

.filter-search input[type='text'], .filter-search select {
    height: 30px;
}

.search-input-row {
    height: 51px;
}

.visually-hidden {
    display: none;
}


.pagination > li > a
{
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.filter-search {
    font-size: 14px;
    font-family: SansSerif, sans-serif;
 }

.btn-submit {
    font-size: 12px;
    font-family: SansSerif, sans-serif;
}

a.dropdown-item:focus {
    color: black;
    background: #f1ff9f;
}

.scroll-items {
    height: 100vh;
    overflow: scroll;
}
