.navigation-bar {
    background-color: #f1ff9f;
}

.user-login-info {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.user-avatar {
    width: 30px;
    border-radius: 500px;
    overflow: hidden;
    flex-wrap: wrap;
}

.user-avatar img {
    width: 100%;
}

.btn-sign {
    background: none;
    font-weight: 600;
    color: black;
}

.btn-sign:hover {
    background: #757575;
    border: 1px solid #757575;
}

.user-name {
    color: black;
    text-decoration: none;
}


.search-input-header {
    border-radius: 5px;
    border: 1px solid #cfcfcf;
}

.pseudo-header {
    height: 56px;
}


