.pills {
  margin: 10px 0;
  color: white;
}

.pills span {
  font-size: 16px;
  font-weight: bold;
  margin: 4px;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
}

.cycle-pill {
  border-color: rgb(54, 207, 159);
  color: rgb(54, 207, 159);
}

.walk-pill {
  border-color: rgb(255, 152, 0);
  color: rgb(255, 152, 0);
}

.bus-pill {
  border-color: #f899e3;
  color: #f899e3;
}

.production-pill {
  border-color:  #2d9ce5;
  color: #2d9ce5;
}

.art-pill {
  border-color:   #ae99f8;
  color:  #ae99f8;
}

.eco-pill {
  border-color: #33c332;
  color: #33c332;
}

