.top-excursion-card-img {
    /*min-width: 100%;*/

    /*height: 100%;*/
    height: 100%;
    /*min-width: 150%;*/
    /*min-width: 100%;*/
    object-position: left top;
    object-fit: cover;
}

.top-excursion-card-img-wrapper {
    height: 300px;
    /*overflow: hidden;*/
}

/*.top-excursion-card-wrapper {*/
/*    margin-bottom: 50px;*/
/*}*/

.top-excursion-card {
    height: 100%;
}

.details-button {
    font-weight: bold;
}

.details-button:hover {
    background: none;
    color: black;
}

.top-excursion-card-footer {
    background: none;
    border: none;
}

.top-excursion-card-title {
    font-weight: bold;
    font-size: 24px;
}

.price-date-style {
    font-family: SansSerif, sans-serif;
    font-weight: 300;
}

.badge-style {
    font-family: SansSerif, sans-serif;
    font-size: 0.7em;
}
